// VARIABLES

$colorgold: rgb(254, 209, 54);
$colormain: #fff;
$colorgray: #bbb;

$subtitlefont: 'Unna', serif;
$cursivefont: 'Great Vibes', cursive;
$standardfont: 'Montserrat', sans-serif;

// GLOBAL

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	line-height: 1.7;
	font-family: $standardfont;
}

.container {
	max-width: 1480px;
	padding: 0 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section {
	padding: 96px 0;
}

[class*='__info'] {
	display: flex;
	flex-direction: column;
	align-items: center;
}

[class*='info-title'] {
	text-transform: uppercase;
	font-size: 48px;
}

[class*='info-subtitle'] {
	color: $colorgray;
	font-family: $subtitlefont;
	padding-bottom: 54px;
}

// NAVIGATION

.navigation {
	position: absolute;
	width: 100%;
	padding: 40px 0;
	z-index: 1;
	&__logo {
		color: $colorgold;
		font-family: $cursivefont;
		font-size: 35px;
	}
	&__list {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-direction: row;
		list-style: none;
		width: 100%;

		&-item {
			padding: 0 10px;
			cursor: pointer;
			a {
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 15px;
				font-weight: bold;
			}
		}
		&-item:not(:last-of-type) {
			margin-right: 40px;
		}
	}
}

// SPLASH

.splash {
	position: relative;
	height: 100vh;
	background-image: url('https://i.postimg.cc/QtLFzMcz/header-bg.jpg');
	background-position: center;
	background-size: cover;

	&__inner {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-family: $standardfont;
		color: $colormain;
		text-shadow: 0 0 3px black;

		&-sub-title {
			font-weight: 400;
			font-size: 45px;
		}

		&-title {
			text-transform: uppercase;
			font-size: 96px;
			margin: 40px 0;
		}

		&-btn {
			padding: 30px 80px;
			border-radius: 5px;
			border: none;
			text-transform: uppercase;
			background-color: $colorgold;
			color: $colormain;
			font-weight: bold;
			font-size: 25px;
			cursor: pointer;
		}
	}
}

// SERVICES

.services {
	display: flex;
	flex-direction: column;

	&__boxes {
		display: flex;

		&-item {
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 20px 60px;

			&-icon {
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				width: 100px;
				height: 100px;
				font-size: 54px;
				color: $colorgold;
				border: 3px solid $colorgold;
				border-radius: 50%;
			}

			&-title {
				padding: 20px 0;
				font-weight: bold;
			}

			&-description {
				color: $colorgray;
			}
		}
	}
}

// PORTFOLIO

.portfolio {
	background-color: lighten($colorgray, 20);

	&__boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		margin: 0 auto;

		&-card {
			width: 400px;
			height: 550px;
			margin-bottom: 40px;

			&-img {
				width: 400px;
				height: 400px;

				img {
					width: 400px;
					height: 400px;
					object-fit: cover;
				}
			}

			&-description {
				height: 150px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				background-color: $colormain;

				&--subtitle {
					font-family: $subtitlefont;
					color: darken($colorgray, 15);
				}
			}
		}
	}
}

// FOOTER

.footer {
	padding: 30px 0;

	&__details {
		position: relative;
		width: 100%;

		&-copyright {
			max-width: 35%;
		}

		&-icons {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			&-list {
				display: flex;
				width: 100%;
				justify-content: center;
				list-style: none;
				padding: 0;

				&-point {
					position: relative;
					width: 50px;
					height: 50px;
					background-color: #000;
					border-radius: 50%;
					cursor: pointer;

					&:not(:last-of-type) {
						margin-right: 20px;
					}
				}
				a {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					color: $colormain;
					text-align: center;
					font-size: 0;

					i {
						font-size: 20px;
					}
				}
			}
		}
	}
}
