*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	background-color: #fff;
	color: #000;
	font-size: 20px;
	line-height: 1.7;
	font-family: 'Montserrat', sans-serif;
}
